# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Project specific
data/
*.png
!assets/canvas_static.png
!assets/workshop-base.png

# IDEs & System
.idea/
.vscode/
.DS_Store
Thumbs.db
